:root {
    --main-element-color: #3b5998;
    --header-background: #f5f6f7;
    --header-font-size: 16px;
    --border-color: #dddfe2;
}
* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    background-color:#dfe3ee;
    width:100vw;
}
div.st-page-header {
    height: 45px;
    width: 100%;
    background-color: var(--main-element-color);
    padding: none;
    margin: none;
}
div.st-page-header div.st-header-icons-container 
{
    width:72%;
    margin:auto;
    display:flex;
    min-width: 665px;
}
div.st-page-header div.st-header-icons-container div.st-facebook-logo 
{
    margin: 9px 0px;
    float:left;
    display:block;
}

div.st-page-header div.st-header-icons-container div.st-facebook-logo .fa-facebook-f
{  
    border-radius: 5px;
    height: 20px;
    width: 25px;
    background-color: white;
    color: var(--main-element-color);
    font-size:23px;
    padding-top:7px;
    position: relative;
    
}
.fa-facebook-f:before
{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
div.st-page-header div.st-header-icons-container div.st-search-box
{
    float:left;
    display: block;
    margin:9px;
    height:27px;
    width:1000px;
    max-width: 40%;
}
div.st-page-header div.st-header-icons-container div.st-search-box .st-search-input
{
    height: 27px;
    overflow:hidden;
    float:left;
    border:none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: calc(100% - 35px);
    box-sizing: border-box;
}
div.st-page-header div.st-header-icons-container div.st-search-box .st-search-input::placeholder 
{
    color: black;
    opacity: 1; 
    font-weight:800;
}
div.st-page-header div.st-header-icons-container div.st-search-box .fa-search
{
    font-size :15px;
    padding:6px;
    background-color:white;
    padding: auto;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
div.st-page-header div.st-header-icons-container div.st-profile
{
    float:right;
    margin-left:auto;
    width:auto;
    height:45px;
}
div.st-page-header div.st-header-icons-container div.st-profile .fa-user-circle
{
    border-radius: 5px;
    padding: 3.5px;
    background-color: white;
    font-size: var(--header-font-size);
    float:right;
    margin: calc((40px - var(--header-font-size)) / 2);
}
div.st-page-header div.st-header-icons-container div.st-profile p 
{
    float:right;
    color:white;
    text-align: center;
    line-height: 45px;
    margin:0px;
    padding-right: 10px;
    font-size: var(--header-font-size);
}
div.st-page-header div.st-header-icons-container div.st-home
{
    float:right;
    color:white;
}
div.st-page-header div.st-header-icons-container div.st-home p
{
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding-left:10px;
    font-size: var(--header-font-size);
    text-align: center;
    margin:calc((45px - var(--header-font-size)) / 2) 15px calc((45px - var(--header-font-size)) / 2) 5px;
}
div.st-page-header div.st-header-icons-container div.st-notification-icons 
{
    height: 45px;
}
div.st-page-header div.st-header-icons-container div.st-notification-icons .fa-user-friends
{
    float:right;
    color:rgba(0, 0, 0, 0.4);
    font-size: var(--header-font-size);
    margin:calc((45px - var(--header-font-size)) / 2) 5px;
}
div.st-page-header div.st-header-icons-container div.st-notification-icons .fa-comments
{
    float:right;
    margin:calc((45px - var(--header-font-size)) / 2) 5px;
    font-size: var(--header-font-size);
    color:rgba(0, 0, 0, 0.4);

}
div.st-page-header div.st-header-icons-container div.st-notification-icons .fa-globe-americas
{
    float:right;
    margin:calc((45px - var(--header-font-size)) / 2) 5px;
    font-size: var(--header-font-size);
    color:rgba(0, 0, 0, 0.4);
}
div.st-page-header div.st-header-icons-container div.st-support 
{
    float: right;
    display:block;
}
div.st-page-header div.st-header-icons-container div.st-support .fas 
{
        margin:calc((45px - var(--header-font-size)) / 2) 5px;
        font-size: var(--header-font-size);
}
div.st-page-header div.st-header-icons-container div.st-support .fa-user-lock
{
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding-left:10px;
    color:rgba(0, 0, 0, 0.4);
} 
div.st-page-header div.st-header-icons-container div.st-support .fa-caret-down
{
    color:rgba(0, 0, 0, 0.4);
}
div.st-cover-wrapper
{
    width: 72%;
    margin:15px auto;
    min-width: 1385px;
    height:462px;
}
div.st-cover-wrapper div.st-cover-photo
{
    height:400px;
    width:84%;
    background-color:var(--main-element-color);
    float:left;
    min-width:940px;       
}
div.st-cover-wrapper div.st-stats
{
    margin-left:1%;
    width:15%;
    height:300px;
    float:left;
    display:block;
    position: relative;
} 
div.st-cover-wrapper div.st-stats table 
{
    border-collapse: collapse;
}
div.st-cover-wrapper div.st-stats table tr th.st-gray
{
    float:left;
    width:150px;    
    padding:15px;
    border:1px solid var(--border-color);
    text-align:center;
    background-color:var(--header-background);
}
div.st-cover-wrapper div.st-stats table tr.st-notification-type td
{
    border:1px solid var(--border-color);
    width:150px;  
    padding:15px;
    line-height: 15px;
    text-align:center;
    background-color:white;
}
div.st-cover-wrapper div.st-stats table tr.st-notification-type td p.number
{
    font-weight:700;
    margin:0px;
}
div.st-cover-wrapper div.st-stats div.st-recent
{
    margin-top:15px;
    height:50px;
    width:8px;
    font-size:30px;
    background-color:gray;
    float:left;
}
div.st-cover-wrapper div.st-stats p.recent
{
    padding:15px;
    opacity:0.5;
    font-weight: 700;
}
div.st-cover-wrapper div.st-stats div.st-year
{
    height:50px;
    width:8px;
    font-size:30px;
    background-color: #c0bebe;
    float:left;
}
div.st-cover-wrapper div.st-stats p.year
{
    padding:15px;
    opacity:0.5;
}
div.st-cover-wrapper div.st-stats div.st-like-page
{
    float:left;
    display:block;
}
div.st-cover-wrapper div.st-stats div.st-like-page p.st-page-name
{
    color:var(--main-element-color);
    font-weight:700;
    text-align: left;
}
div.st-cover-wrapper div.st-stats div.st-like-page div.st-page-photo
{
    height:80px;
    width:80px;
    display:block;
    background-color:var(--main-element-color);
}
div.st-cover-wrapper div.st-profile-photo
{
    width:215px;
    height:215px;
    background-color:var(--main-element-color);
    z-index:3;
    position: relative;
    top:220px;
    left:30px;
    border:1px  solid black;
}
div.st-cover-wrapper div.st-page-info
{
    left: 240px;
    position: relative;
    height: 100px;
    display: block;
    bottom: 300px;
}
div.st-cover-wrapper div.st-page-info span.st-page-name
{
    font-size: 25px;
    color: white;
    font-weight: 700;
    bottom:100px;
}
div.st-cover-wrapper div.st-page-info span.st-page-web
{
    font-size:18px;
    color: white;
    font-weight: 700;
    display: block;
    top:35px;
}
div.st-cover-wrapper div.st-like
{
    display:block;
    float:right;
    width:80px;
    height:40px;
    right:525px;
    position:relative;
    top:37px;
    font-size: 18px;
    color:black;
    background-color:white;
    border-radius: 5px;
    text-align:center;
    line-height:40px;
}
div.st-cover-wrapper div.st-follow-msg
{
    float:right;
    width:250px;
    height:40px;
    right: 260px;
    position:relative;
    bottom:63px;
    font-size: 15px;
    color:black;
    background-color:white;
    border-radius: 5px;
    text-align:center;
}
div.st-cover-wrapper div.st-follow-msg table
{
    height:30px;
}
div.st-cover-wrapper div.st-follow-msg table th
{
    width:100px;
    border-left:1px var(--border-color) solid;
    line-height: 30px;
    padding-top:5px;
    text-align:center;

}
div.st-cover-wrapper div.st-follow-msg table th.follow
{
    color:var(--border-color);
    border:none;
}
div.st-cover-wrapper div.st-follow-msg table th.more
{
    width:50px;
}

div.st-cover-wrapper div.st-navigation-bar
{
    width:calc(84% - 2px);
    border:1px solid var(--border-color);
    border-radius: 5px;
    height:60px;
    position: relative;
    top:183px;
    min-width:938px;
    margin-bottom: 15px;
    background-color:white;
}
div.st-cover-wrapper  select.st-low-resolution-drop-menu
{
    display:none;
}
div.st-cover-wrapper div.st-navigation-bar ul
{
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    left:280px;
    min-width: 640px;
    max-width:886px;
}
div.st-cover-wrapper div.st-navigation-bar li.nav
{
    float: left;
    font-size:22px;
    padding: 0px 15px;
    line-height: 55px;
}
div.st-cover-wrapper div.st-navigation-bar li.timeline
{
    border-bottom: 4px var(--main-element-color) solid;
    line-height: 53px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.st-cover-wrapper div.st-navigation-bar li.rest
{
    border-right: 1px rgb(161, 159, 159) solid;
    line-height: 53px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.st-main-content
{
    margin:15px auto;
    min-width:1385px;
    width:72vw;
}
div.st-main-content div.st-left-container
{
    position:relative;
    width:calc(34% - 10px);
    margin-right:10px;
    float:left;
    display:block;
}
div.st-main-content div.st-left-container table.st-about-website 
{
    border-collapse: collapse;
    background-color:white;
    border-radius: 5px;
    width:100%;
}
div.st-main-content div.st-left-container table.st-about-website  td
{
    line-height: 20px;
    border:1px solid var(--border-color);
}
div.st-main-content div.st-left-container table.st-about-website  td.empty
{
    line-height: 30px;   
}
div.st-main-content div.st-left-container table.st-about-website  tr td p.about
{
    font-weight: 700;
    margin:10px 0px 5px;
    padding:0 10px;
}
div.st-main-content div.st-left-container table.st-about-website  tr td p.lorem
{
    color:var(--main-element-color);
    margin:5px 0px 10px;
    padding:0 10px;
}
div.st-main-content div.st-left-container table.st-about-website  tr td.website i
{
    color:black;
    opacity:0.5;
}
div.st-main-content div.st-left-container table.st-about-website  tr td.website p
{
    color:var(--main-element-color);
    font-weight: 600;
    padding:5px 10px;
    margin:5px 0px;
}
div.st-main-content div.st-left-container table.about
{
    margin-top:10px;
    border: 1px solid var(--border-color);
    width:100%;
    background-color: white;
    border-radius: 5px;
    border-collapse: collapse;
}
div.st-main-content div.st-left-container table.about td.about
{
    background-color:var(--header-background);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin:0px;
    font-weight: 700;
    padding:0 10px;
    opacity: 0.5;
}
div.st-main-content div.st-left-container table.about td.about i
{
    float:right;
    padding-right:10px;
    color:var(--border-color);
}
div.st-main-content div.st-left-container table.about td.adress
{
    padding:10px;
}
div.st-main-content div.st-left-container table.about td.adress p.st-icon-text
{
    opacity:0.5;
    margin:0px;
    margin-top:10px;
}
div.st-main-content div.st-left-container table.about td.adress span.st-adress
{
    padding-left:10px;
    font-weight: 700;
}
div.st-main-content div.st-left-container table.about td.adress .st-city
{
    margin:0px;  
    padding:0px 22px 10px 22px;
    font-weight:400;
    margin-top:0px;
    border-bottom:1px solid var(--border-color);
    opacity:0.5;
}
div.st-main-content div.st-left-container table.about td.st-phone-number
{
    padding:10px;
}
div.st-main-content div.st-left-container table.about td.st-phone-number i
{
    opacity:0.5;
    padding-right:10px;
    color:black;
}
div.st-main-content div.st-left-container table.about td.st-phone-number p
{
    margin:5px 0px;
    color:var(--main-element-color);
}
div.st-main-content div.st-left-container table.st-apps
{
    margin-top:10px;
    width:100%;
}
div.st-main-content div.st-left-container table.st-apps th.st-heading
{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border:1px solid var(--border-color);
    text-align: left;
    background-color:var(--header-background);
}
div.st-main-content div.st-left-container table.st-apps th.st-heading p
{
    opacity: 0.5;
    padding:0px 10px;
}
div.st-main-content div.st-left-container table.st-apps td
{
    background-color:white;
    padding-left:10px;
}
div.st-main-content div.st-left-container table.st-apps td div.st-rectangle
{
    height:100px;
    width:150px;
    background-color: var(--main-element-color);
    padding: 10px;
    margin:10px 0px;
}
div.st-main-content div.st-left-container table.st-apps td.st-bottom
{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border:1px solid var(--border-color);
}
div.st-main-content div.st-left-container table.st-apps td div.st-rectangle p
{
    padding:29px 170px;
    font-weight:700;
}
div.st-main-content div.st-left-container div.st-photos
{
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-top:15px;
    border-collapse: collapse;
    background-color:var(--header-background);
}
div.st-main-content div.st-left-container div.st-photos p
{
    font-weight: 700;
    opacity: 0.5;
    padding-left:10px;
}
div.st-main-content div.st-left-container div.st-photos p i
{
    float:right;
    padding-right:10px;
}
div.st-main-content div.st-left-container div.st-photos div.st-photo-container
{
    border-top: 1px solid var(--border-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color:white;
    overflow:hidden;
    border-collapse: collapse;
    display:grid;
    grid-gap: 5px;
    column-gap: 5px;
    padding:5px;
    grid-template-columns: auto auto auto;
    grid-template-rows: max-content;
}

div.st-main-content div.st-left-container div.st-photos div.st-photo-container div.st-thumbnail
{
    width: 100%;
    float: left;
    background-color: var(--main-element-color);
}
div.st-main-content div.st-left-container div.st-photos div.st-photo-container div.st-thumbnail:nth-child(n + 10)
{
    display:none;
}
div.st-main-content div.st-left-container div.st-photos div.st-photo-container div.st-thumbnail::before
{
    content: "";
    display: block;
    padding-top: 100%;
}
div.st-main-content div.st-left-container div.st-bottom-text-holder p.st-links
{
    opacity: 0.3;
    color:var(--border-color);
    display:block;
    color:black;
}
div.st-main-content div.st-left-container div.st-bottom-text-holder p.st-copyrights
{
    opacity: 0.5;
}
div.st-main-content div.st-right-container
{
    position:relative;    
    width:50%;
    float:left;
    display:block;
}
div.st-main-content div.st-right-container div.st-new-cover-photo
{
    background-color: white;
    overflow:hidden;
    border-radius: 5px;
}
div.st-main-content div.st-right-container div.st-new-cover-photo div.cover-photo
{
    margin:100px 5px 5px 5px;
    width:calc(100% - 10px);
    position:relative;
    display:block;
    background-color: var(--main-element-color);
}
div.st-main-content div.st-right-container div.st-new-cover-photo div.cover-photo::before
{
    content: "";
    display: block;
    padding-top: 50%;
}
div.st-main-content div.st-right-container div.st-status
{
    background-color:white;
    margin-top:10px;
    overflow:hidden;
    border-radius:5px;
}
div.st-main-content div.st-right-container div.st-status p.st-status-text
{
    float:left;
    padding:10px;
}
div.st-main-content div.st-right-container div.st-event
{
    overflow:hidden;
    background-color:white;
    margin-top:15px;
    border-radius:5px;
}
div.st-main-content div.st-right-container div.st-event div.st-new-event
{
    margin:100px 10px 0px 10px;
    width:calc(100% - 20px);
    position:relative;
    display:block;
    background-color: var(--main-element-color);
}    
div.st-main-content div.st-right-container div.st-event div.st-new-event::before
{
    content: "";
    display: block;
    padding-top: 50%;
}
div.st-main-content div.st-right-container div.st-event div.st-event-info
{
    padding:20px;
    margin:0px 10px 10px 10px;
    border:1px solid var(--border-color);
}
div.st-main-content div.st-right-container div.st-event button
{
    float:right;
    margin:10px;
    bottom:20px;
    display:block;
    position:relative;
}
div.st-main-content div.st-fix-right-margin
{
    width:16%;
    display:none;
    height: 50px;
    background-color: red;
    float:left;
}
@media only screen and (min-width: 2187px){
    
    div.st-cover-wrapper div.st-follow-msg
    {
        bottom:3px;
    }
}
@media only screen and (max-width: 1385px) {
    div.st-cover-wrapper div.st-stats
    {
        display:none;
    }
    div.st-cover-wrapper div.st-like
    {
        top:120px;
    }
}
@media only screen and (max-width: 1175px){
    div.st-cover-wrapper
    {
        margin:15px 0px;
        padding:0px;
        display:block;
        padding:none;
        width: 100%;
    }
    div.st-cover-wrapper div.st-cover-photo
    {
        width:100%;
        min-width:10px;
    }
    div.st-cover-wrapper  div.st-navigation-bar
    {
        display:none;
    }
    div.st-cover-wrapper  select.st-low-resolution-drop-menu
    {
        display:block;
        font-size:30px;
        margin:auto;
        width:270px;
    }
    div.st-cover-wrapper div.st-stats
    {
        position:absolute;
        height: 0;
        width: 0; 
        overflow: hidden;
    }
    div.st-page-header 
    {
        height: 60px;
        width:100vw;
        font-size:50px;
        line-height: 60px;
    } 
    div.st-cover-wrapper {
        min-width:760px;
    }
    div.st-cover-wrapper div.st-like 
    {
        display:none;
    }
    div.st-cover-wrapper div.st-follow-msg 
    {
        display:none;
    }
    div.st-page-header .fas::before
    {
        font-size:40px;
        padding:auto;    
    }
    div.st-main-content 
    {
        min-width:100%;
    }
    div.st-main-content div.st-left-container
    {
        display:none;
    }
    div.st-main-content div.st-right-container
    {
        width:100%;
        margin:0px; 
    }
     div.st-fix-right-margin
    {
        display:none;
    }
    .resp
    {
        display:none;
    }
}
div.st-page-header
{
    width:100%;
}
p.st-profile-text
{
    display:block;
    position:relative;
    float:left;
    top:20px;
    left: 20px;
}
span.st-time
{
    opacity:0.6;
    line-height: 25px;
}
span.st-page-name
{
    color:var(--main-element-color);
    font-weight: 600;
}
span.st-blue-text
{
    color:var(--main-element-color);
}
span.opacity 
{
    opacity: 0.5;
}
div.st-mini-profile-icon 
{
    height: 80px;
    width:80px;
    top: 10px;
    left:10px;
    position:relative;
    display:block;
    background-color:var(--main-element-color);
    float:left;
}
div.st-like-share
{
    background-color:var(--header-background);
    width:100%;
    border: 1px solid var(--border-color);
    padding-left:10px;
    line-height: 30px;
    float:left;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px;
}